@using CodeYoDAL.DALHelpers;
@{
    ViewData["Title"] = MainMenu.Teachers.PageName;
}
<div class="wrapper">
    <div class="panel panel-hash">
        <div class="panel-heading">

            <div class="card shadow-lg hover-card m-inline-auto-p-0 m-1">
                <div class="card-body">

                    <div class="row mb-3">
                        <div class="col-md-12 text-center ">
                            <button type="button" onclick="AddEdit(0)" class="btn btn-success btn-block w-fit">
                                <span class="bi bi-plus" style="color:white;"></span>
                                <span>Add Teacher</span>
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 text-center ">
                            <h5 class="text-center"><b>@MainMenu.Teachers.PageName</b></h5>
                        </div>
                    </div>
                </div>

                @* <div class="col-md-4 rg-3 row justify-content-evenly m-0 mt-1">
                    <button type="button" id="btnFilter" onclick="GetByTeacher()" class="btn btn-success col-md-5">
                        <span class="fa fa-filter" style="color:white;"></span>
                        <span data-key="filter">Filter</span>
                    </button>
                    <button type="button" id="btnReset" onclick="ResetTeacherData()" class="btn btn-warning col-md-5">
                        <span class="fa fa-retweet" style="color:white;"></span>
                        <span data-key="reset">Reset</span>
                    </button>
                </div> *@


            </div>
        </div>


        <div class="row">
            <div class="col-md-12 text-center ">
                <div class="panel-body scroll panel-height table-wrap">
                    <table id="tblTeacher" class="display nowrap" style="width:100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Full Name</th>
                                <th>Phone Number</th>
                                <th>Business Phone Number</th>
                                <th>Subject Name</th>
                                <th>Students Count</th>
                                <th>Creation Date</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>


    </div>
</div>

<style>
    .panel-heading {
        padding: 0px 0px 0px 5px;
    }

    .panel-body {
        padding: 5px;
    }

    .h4 {
        margin-top: 1px;
        margin-bottom: 1px;
    }

    #tblTeacher th {
        text-align: center;
    }
</style>

<script src="~/js/Teacher/Teacher_CRUD.js"></script>
<script src="~/js/Teacher/Teacher_Datatable.js"></script>

<script>

    // var GetByTeacher = function () {

    //     var _TeacherRole = $("#TeacheRroleIdIndex").val();
    //     var _SubjectId = $("#SubjectIdIndex").val();
    //     var lang = localStorage.getItem("lang");
    //     var _tblTeacher = $("#tblTeacher").DataTable();
    //     _tblTeacher.clear();
    //     _tblTeacher.destroy();
    //     if (_TeacherRole == 0 && _SubjectId == 0) {

    //         TeacherDataTableLoad(0, 0, lang);
    //     }
    //     else {
    //         TeacherDataTableLoad(_TeacherRole, _SubjectId, lang);
    //     }
    //     DataTableCustomSearchBox('450px', 'Search Teacher');
    // }

    // var ResetTeacherData = function () {

    //     $("#TeacheRroleIdIndex").val(0).trigger('change');
    //     $("#SubjectIdIndex").val(0).trigger('change');
    //     var lang = localStorage.getItem("lang");
    //     var _tblTeacher = $("#tblTeacher").DataTable();
    //     _tblTeacher.clear();
    //     _tblTeacher.destroy();
    //     TeacherDataTableLoad(0, 0, lang);
    //     DataTableCustomSearchBox('450px', 'Search Teacher');
    // }


    // $(document).ready(function () {
    //     $("#TeacheRroleIdIndex").select2();
    //     $("#SubjectIdIndex").select2();
    //     DataTableCustomSearchBox('450px', 'Search Teacher');

    // });
</script>