
<div class="alert alert-success alert-dismissible fade in" id="bootstrap-alert-success">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong id="alert-success-title"></strong> <b id="alert-success-body"></b>.
</div>

<div class="alert alert-info alert-dismissible fade in" id="bootstrap-alert-info">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong id="alert-info-title"></strong> <b id="alert-info-body"></b>.
</div>

<div class="alert alert-warning alert-dismissible fade in" id="bootstrap-alert-warning">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong id="alert-warning-title"></strong> <b id="alert-warning-body"></b>.
</div>

<div class="alert alert-danger alert-dismissible fade in" id="bootstrap-alert-danger">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong id="alert-danger-title"></strong> <b id="alert-danger-body"></b>.
</div>

<script>
    $(document).ready(function(){
        $(".alert-success").hide();
        $(".alert-info").hide();
        $(".alert-warning").hide();
        $(".alert-danger").hide();
    });
</script>